config gateway
	#option ifname br-lan
	option port 2060
	option ssl_port 8443
	#option checkinterval 60
	#option clienttimeout 5
	#option wlan_ifname wlan0
 
config authserver
	option host '192.168.0.100'
	option path '/wifidog/'

config popular_server
	list server 'www.baidu.com'
	list server 'qq.com'
        
